<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="HES.Core"/>
    <add assembly="HES.Infrastructure"/>
    <add assembly="HES.Web"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <!--<target xsi:type="File" name="allfile" fileName="${basedir}/logs/hes-log-all-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownfile-web" fileName="${basedir}/logs/hes-own-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|${aspnet-request-method}|${aspnet-request-url::IncludeQueryString=true}" />

    <!-- write to output console -->
    <target name="debugger" xsi:type="Debugger" layout="${longdate}|${level:uppercase=true}|${message}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="ownfile-web" />
    <!-- write to output console -->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>