<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="profile" asp-page="/Users/Index">Users</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.DevicesNavClass(ViewContext)" id="change-password" asp-page="/Devices/Index">Devices</a></li>
</ul>
