@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    var statusMessageText = Model.StartsWith("Error") ? "Error" : "Success";
    <div class="alert alert-@statusMessageClass alert-dismissible shadow-lg custom-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading">@statusMessageText</h4>
        <hr>
        <div class="pt-1 pb-1">
            @Model
        </div>
    </div>
}