@model web.HES.Pages.Settings.Administrators.IndexModel

<h5 class="text-gray mb-4 ">Are you sure you want to remove admin @Model.User.Email?</h5>

<form method="post" class="text-right">
    <input type="hidden" asp-for="User.Id" name="id" />
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <input type="submit" value="Delete" class="btn btn-danger" asp-page-handler="DeleteAdmin" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}