@page
@model web.HES.Pages.Settings.Administrators.InviteModel
@{
    ViewData["Title"] = "Invite";
    ViewData["ActivePage"] = ManageNavPages.Settings;
    ViewData["SettingsPage"] = SettingsNavPages.Administrators;
}

<h1 class="text-navyblue">Invite admins</h1>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="custom-wide-card">
    <form method="post">
        <div class="form-group ">
            <label class="text-gray" asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group m-0">
            <button type="submit" class="btn btn-primary">Invite</button>
            <a class="btn btn-outline-secondary" asp-page="Index">Back</a>
        </div>
    </form>
</div>