@model HES.Web.Pages.SharedAccounts.IndexModel

<ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-webapp-tab" data-toggle="pill" href="#pills-webapp" role="tab" aria-controls="pills-home" aria-selected="true">Web/App account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-workstation-tab" data-toggle="pill" href="#pills-workstation" role="tab" aria-controls="pills-profile" aria-selected="false">Windows account</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-webapp" role="tabpanel" aria-labelledby="pills-webapp-tab">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SharedAccount.Name" class="control-label text-gray"></label>
                <input asp-for="SharedAccount.Name" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="SharedAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharedAccount.Urls" class="control-label text-gray"></label>
                <input asp-for="SharedAccount.Urls" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="SharedAccount.Urls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharedAccount.Apps" class="control-label text-gray"></label>
                <input asp-for="SharedAccount.Apps" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="SharedAccount.Apps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharedAccount.Login" class="control-label text-gray"></label>
                <input asp-for="SharedAccount.Login" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="SharedAccount.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountPassword.Password" class="text-gray"></label>
                <input asp-for="AccountPassword.Password" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="AccountPassword.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountPassword.ConfirmPassword" class="text-gray"></label>
                <input asp-for="AccountPassword.ConfirmPassword" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="AccountPassword.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountPassword.OtpSecret" class="control-label text-gray"></label>
                <input asp-for="AccountPassword.OtpSecret" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="AccountPassword.OtpSecret" class="text-danger"></span>
            </div>
            <div class="form-group m-0 text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreateSharedAccount" />
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="pills-workstation" role="tabpanel" aria-labelledby="pills-workstation-tab">
        <form method="post">
            <div class="form-group">
                <label asp-for="WorkstationAccount.Name" class="text-gray"></label>
                <input asp-for="WorkstationAccount.Name" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkstationAccount.AccountType" class="text-gray"></label>
                <select id="workstation_account_type" asp-for="WorkstationAccount.AccountType" class="form-control" asp-items="ViewBag.WorkstationAccountType"></select>
            </div>
            <div id="domain_group" class="form-group d-none">
                <label asp-for="WorkstationAccount.Domain" class="text-gray"></label>
                <input id="domain" asp-for="WorkstationAccount.Domain" value="doamin" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkstationAccount.Login" class="text-gray"></label>
                <input id="login" asp-for="WorkstationAccount.Login" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkstationAccount.Password" class="text-gray"></label>
                <input asp-for="WorkstationAccount.Password" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkstationAccount.ConfirmPassword" class="text-gray"></label>
                <input asp-for="WorkstationAccount.ConfirmPassword" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group m-0 text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreateWorkstationSharedAccount" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).on('change', '#workstation_account_type', function () {
        if ($(this).find('option:selected').text() === 'Domain') {
            $('#domain').val("");
            $('#domain_group').removeClass("d-none");
        }
        else {
            $('#domain_group').addClass("d-none");
            $('#domain').val("domain");
        }
    });
</script>