@model HES.Web.Pages.SharedAccounts.IndexModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SharedAccount.Id" />
    <input type="hidden" asp-for="SharedAccount.Name" />
    <input type="hidden" asp-for="SharedAccount.Login" />
    <input type="hidden" asp-for="SharedAccount.PasswordChangedAt" />
    <input type="hidden" asp-for="SharedAccount.OtpSecretChangedAt" />
    <div class="form-group">
        <h5 class="text-navyblue">@Model.SharedAccount.Name</h5>
    </div>
    <div class="form-group">
        <label asp-for="AccountPassword.Password" class="text-gray"></label>
        <input asp-for="AccountPassword.Password" class="form-control text-navyblue" />
        <span asp-validation-for="AccountPassword.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AccountPassword.ConfirmPassword" class="text-gray"></label>
        <input asp-for="AccountPassword.ConfirmPassword" class="form-control text-navyblue" />
        <span asp-validation-for="AccountPassword.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Save" class="btn btn-primary" asp-page-handler="EditSharedAccountPwd" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}