@model HES.Web.Pages.Settings.OrgStructure.IndexModel

<form  method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-4">
        <label asp-for="Company.Name" class="control-label text-gray"></label>
        <input asp-for="Company.Name" class="form-control text-navyblue" />
        <span asp-validation-for="Company.Name" class="text-danger"></span>
    </div>
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreateCompany" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}