@{
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <partial name="_ManageNav" />
    </div>
</div>
@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}