@model HES.Web.Pages.Devices.IndexModel

<form method="post">
    <div class="form-group">
        <label class="control-label text-gray">Devices count</label>
        <h6 id="devices_count" class="text-navyblue"></h6>
    </div>

    <div id="selected_devices" class="form-group"></div>

    <div class="form-group">
        <label class="control-label text-gray">Profiles</label>
        @foreach (var profile in Model.DeviceAccessProfiles.OrderBy(x => x.Id != "default"))
        {
            <div class="custom-control custom-radio">
                <input type="radio" id="@profile.Id" value="@profile.Id" name="profileId" class="custom-control-input">
                <label class="custom-control-label" for="@profile.Id"><span style="display:inline-block; max-width:425px; overflow:hidden; text-overflow: ellipsis;">@profile.Name</span></label>
            </div>
        }
    </div>

    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Set" class="btn btn-primary" asp-page-handler="SetProfile" />
    </div>
</form>

<script>
    $('#devices_count').html(items.length + " key(s)");
    $('#default').prop('checked', true);

    $.each(items, function (index, value) {
        $('#selected_devices').append("<input type='hidden' id='" + value + "' name='devices' value='" + value + "' />");
    });
</script>
