@page
@model HES.Web.Pages.Devices.IndexModel

@{
    ViewData["Title"] = "Devices";
    ViewData["ActivePage"] = MenuNavPages.Devices;
}

<partial name="_SuccessMessage" for="SuccessMessage" />
<partial name="_ErrorMessage" for="ErrorMessage" />

<div id="filter-collapse" class="filter-card collapse pb-1">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="DeviceFilter.StartDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="startDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="DeviceFilter.StartDate" aria-describedby="startDateAppend" />
                    <div class="input-group-append" onclick="ShowStartDate()">
                        <span class="input-group-text custom-group" id="startDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="DeviceFilter.EndDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="endDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="DeviceFilter.EndDate" aria-describedby="endDateAppend" />
                    <div class="input-group-append" onclick="ShowEndDate()">
                        <span class="input-group-text custom-group" id="endDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="DeviceFilter.Battery" class="control-label"></label>
                <select id="battery" asp-for="DeviceFilter.Battery" class="form-control">
                    <option selected></option>
                    <option value="0">Low</option>
                    <option value="1">Full</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="DeviceFilter.Firmware" class="control-label"></label>
                <select id="firmware" asp-for="DeviceFilter.Firmware" class="form-control" asp-items="ViewBag.Firmware">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="DeviceFilter.EmployeeId" class="control-label"></label>
                <select id="employeeId" asp-for="DeviceFilter.EmployeeId" class="form-control" asp-items="ViewBag.Employees">
                    <option selected></option>
                    <option value="N/A">N/A</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="DeviceFilter.CompanyId" class="control-label"></label>
                <select id="companyId" onchange="GetDepartment(this.value)" asp-for="DeviceFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="DeviceFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="DeviceFilter.DepartmentId" class="form-control" title="first choose a company" disabled>
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="DeviceFilter.Records" class="control-label"></label>
                <select id="records" asp-for="DeviceFilter.Records" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option selected value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="3000">3000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div class="text-nowrap">
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    <partial name="_DevicesTable" />
</div>

@* Modal *@
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/dt-init-devices.js"></script>
    <script src="~/js/dt-checkboxes.js"></script>
    <script>
        // Initialize DateTimePicker
        $('#startDate').datepicker({
            timepicker: true,
            startDate: GetTime('min'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#endDate').datepicker().data('datepicker').update('minDate', d);
            }
        });
        $('#endDate').datepicker({
            timepicker: true,
            startDate: GetTime('max'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#startDate').datepicker().data('datepicker').update('maxDate', d);
            }
        });
        function GetTime(value) {
            var time = new Date();
            if (value == 'min') {
                time.setHours(0);
                time.setMinutes(0);
                time.setSeconds(0);
                time.setMilliseconds(000);
            }
            else {
                time.setHours(23);
                time.setMinutes(59);
                time.setSeconds(59);
                time.setMilliseconds(999);
            }
            return time;
        }
        function ShowStartDate() {
            $('#startDate').datepicker().data('datepicker').show();
        }
        function ShowEndDate() {
            $('#endDate').datepicker().data('datepicker').show();
        }

        // Open modal dialog
        $(document).on('click', '.open-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            $('#modalDialogTitle').html(title);
            $('#modalDialog').modal('toggle');

            $.ajax({
                url: "/Devices?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#modalBody").html(response);

                    // Validation partial view
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                }
            });
        });

        // Clear content on modal hide
        $('#modalDialog').on('hidden.bs.modal', function (e) {
            $("#modalBody").html("<div class='d-flex justify-content-center align-items-center'><div class='spinner-grow text-primary' style='width: 3rem; height: 3rem;' role='status'><span class='sr-only'></span></div></div>");
        })

        // Filter
        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $('#loading').removeClass('d-none');
            $.ajax({
                method: "POST",
                url: "/Devices?handler=FilterDevices",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        //Clear filter
        $(document).on('click', '#clearFilter', function () {
            $('#startDate').datepicker().data('datepicker').clear();
            $('#endDate').datepicker().data('datepicker').clear();
            $('#battery').val("");
            $('#firmware').val("");
            $('#employeeId').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
            $('#records').val("500");
        });

        // Dropdown Department
        function GetDepartment(id) {
            $.getJSON('/Devices?handler=JsonDepartment', { id: id },
                function (data) {
                    var dep = "<option selected=''></option>";
                    $(data).each(function () {
                        dep = dep + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#departmentId");
                    subList.empty();
                    subList.append(dep);
                    subList.removeAttr("disabled");
                    subList.removeAttr("title");
                });
        }

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Devices</li>');
        });
    </script>
}