@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-navyblue">@ViewData["Title"]</h1>
        <p class="text-gray">Please check your email to reset your password.</p>
        <a asp-area="Identity" asp-page="/Account/Login">Go to login page</a>
    </div>
</div>

