@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="custom-card">
        <h1 class="text-navyblue">@ViewData["Title"]</h1>
        <h5 class="text-gray">Enter your email.</h5>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="text-gray" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
