@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
        <a asp-area="Identity" asp-page="/Account/Manage/Index">Go to login page</a>
    </div>
</div>
