@inject UserManager<ApplicationUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    var fullname = $"{user.FirstName} {user.LastName}";
}
<!DOCTYPE html>
<html style="overflow:auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAML IdP</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-light bg-white box-shadow">
            <h4 class="text-navyblue m-0">SAML IdP Account Settings</h4>
            <form class="form-inline ml-auto" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <h4 class="text-navyblue m-0 pr-3">Hello @fullname</h4>
                <button type="submit" class="btn btn-dark p-1">
                    <img src="~/svg/account/exit.svg" style="width:28px" />
                </button>
            </form>
        </nav>
    </header>
    <div class="container mb-3">
        <partial name="_ManageNav" />
        @RenderBody()
    </div>
    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- Main JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>