@model HES.Web.Pages.Workstations.IndexModel

<form method="post">
    <input type="hidden" asp-for="Workstation.Id" />
    <input type="hidden" asp-for="Workstation.Approved" value="true" />
    <h5 class="text-gray mb-4 ">You want to approve workstation @Model.Workstation.Name?</h5>
    <div class="form-group">
        <label asp-for="Workstation.Department.CompanyId" class="control-label text-gray"></label>
        <select id="companies" asp-for="Workstation.Department.CompanyId" onchange="GetDepartment(this.value)" class="form-control text-navyblue" asp-items="ViewBag.CompanyId"></select>
    </div>
    <div class="form-group">
        <label asp-for="Workstation.Department" class="control-label text-gray"></label>
        <select id="departments" asp-for="Workstation.DepartmentId" asp-items="ViewBag.DepartmentId" class="form-control text-navyblue"></select>
    </div>
    <label class="control-label text-gray">Unlock settings</label>
    <ul class="list-group mb-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Has RFID
            <div class="custom-control custom-switch">
                <input asp-for="Workstation.RFID" type="checkbox" class="custom-control-input" id="hasRfid" value="true">
                <label class="custom-control-label" for="hasRfid"></label>
            </div>
        </li>
    </ul>
    <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="OK" class="btn btn-primary" asp-page-handler="ApproveWorkstation" />
    </div>
</form>

<script>
    $('#companies').change();
</script>