@model HES.Web.Pages.Workstations.DetailsModel

<h5 class="text-gray mb-4 ">You want to remove device @Model.WorkstationBinding.DeviceId from workstation binding?</h5>

<form method="post" class="text-right">
    <input type="hidden" asp-for="WorkstationBinding.Id"/>
    <input type="hidden" asp-for="WorkstationBinding.WorkstationId"/>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <input type="submit" value="Delete" class="btn btn-danger" asp-page-handler="DeleteWorkstationBinding" />
</form>