@model HES.Web.Pages.Workstations.DetailsModel

<form method="post">
    <input type="hidden" asp-for="WorkstationProximityDevice.Id" />
    <input type="hidden" asp-for="WorkstationProximityDevice.WorkstationId" />
    @*<ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Allow BLE
            <div class="custom-control custom-switch">
                <input asp-for="WorkstationBinding.AllowBleTap" type="checkbox" class="custom-control-input" id="allowBle" value="true">
                <label class="custom-control-label" for="allowBle"></label>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Allow RFID
            <div class="custom-control custom-switch">
                <input asp-for="WorkstationBinding.AllowRfid" type="checkbox" class="custom-control-input" id="allowRfid" value="true">
                <label class="custom-control-label" for="allowRfid"></label>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Allow proximity
            <div class="custom-control custom-switch">
                <input asp-for="WorkstationBinding.AllowProximity" type="checkbox" class="custom-control-input" id="allowProximity" value="true">
                <label class="custom-control-label" for="allowProximity"></label>
            </div>
        </li>
    </ul>*@
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Save" class="btn btn-primary" asp-page-handler="EditProximitySettings" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
