@model HES.Web.Pages.Workstations.IndexModel

<h5 class="text-gray mb-4 ">You want to unapprove workstation @Model.Workstation.Name?</h5>

<form method="post" class="text-right">
    <input type="hidden" asp-for="Workstation.Id" name="workstationId" />
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <input type="submit" value="OK" class="btn btn-primary" asp-page-handler="UnapproveWorkstation" />
</form>