@page
@model HES.Web.Pages.Workstations.IndexModel

@{
    ViewData["Title"] = "Workstations";
    ViewData["ActivePage"] = MenuNavPages.Workstations;
}

<partial name="_SuccessMessage" for="SuccessMessage" />
<partial name="_ErrorMessage" for="ErrorMessage" />

<div id="filter-collapse" class="filter-card collapse pb-1">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.StartDate" class="control-label"></label>
                <input readonly type="text" id="startDate" asp-for="WorkstationFilter.StartDate" class="form-control" autocomplete="off" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.EndDate" class="control-label"></label>
                <input readonly type="text" id="endDate" asp-for="WorkstationFilter.EndDate" class="form-control" autocomplete="off" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.Name" class="control-label"></label>
                <input id="name" asp-for="WorkstationFilter.Name" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.Domain" class="control-label"></label>
                <input id="domain" asp-for="WorkstationFilter.Domain" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.ClientVersion" class="control-label"></label>
                <input id="clientVersion" asp-for="WorkstationFilter.ClientVersion" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.CompanyId" class="control-label"></label>
                <select id="companyId" asp-for="WorkstationFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="WorkstationFilter.DepartmentId" class="form-control" asp-items="ViewBag.Departments">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.OS" class="control-label"></label>
                <input id="os" asp-for="WorkstationFilter.OS" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.IP" class="control-label"></label>
                <input id="ip" asp-for="WorkstationFilter.IP" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.Approved" class="control-label"></label>
                <select id="approved" asp-for="WorkstationFilter.Approved" class="form-control">
                    <option selected></option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationFilter.Records" class="control-label"></label>
                <select id="records" asp-for="WorkstationFilter.Records" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option selected value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="3000">3000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div>
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    <partial name="_WorkstationsTable" />
</div>

@* Modal *@
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // DatePicker
        $('#startDate').datepicker({
            format: '@ViewBag.DatePattern',
            uiLibrary: 'bootstrap4',
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            format: '@ViewBag.DatePattern',
            uiLibrary: 'bootstrap4',
            minDate: function () {
                return $('#startDate').val();
            }
        });

        // Initialize DataTables
        var table_name = '#workstations';
        $(table_name).DataTable({
            responsive: true,
            "columnDefs": [
                { "orderable": false, "targets": 9 }
            ]
        });
        var dataTable = $(table_name).dataTable();
        // Search box
        $('#searchbox').keyup(function () {
            dataTable.fnFilter(this.value);
        });
        $('.dataTables_filter').addClass('d-none');
        // Length
        $('#entries_place').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
        $('.dataTables_length').addClass('d-none');
        // Info
        $('#showing_place').html($('.dataTables_info'));
        // Paginate
        $('#pagination_place').html($('.dataTables_paginate'));

        // Open modal dialog
        $(document).on('click', '.open-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            $('#modalDialogTitle').html(title);
            $('#modalDialog').modal('toggle');

            $.ajax({
                url: "/Workstations?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#modalBody").html(response);

                    // Validation partial view
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                }
            });
        });

        // Clear content on modal hide
        $('#modalDialog').on('hidden.bs.modal', function (e) {
            $("#modalBody").html("<div class='d-flex justify-content-center align-items-center'><div class='spinner-grow text-primary' style='width: 3rem; height: 3rem;' role='status'><span class='sr-only'></span></div></div>");
        })

        // Dropdown Department
        function GetDepartment(id) {
            $.getJSON('/Workstations?handler=JsonDepartment', { id: id },
                function (data) {
                    var dep = "";
                    $(data).each(function () {
                        dep = dep + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#departments");
                    subList.empty();
                    subList.append(dep);
                });
        }

        // Filter
        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $.ajax({
                method: "POST",
                url: "/Workstations?handler=FilterWorkstations",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        //Clear filter
        $(document).on('click', '#clearFilter', function () {
            $('#name').val("");
            $('#domain').val("");
            $('#clientVersion').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
            $('#os').val("");
            $('#ip').val("");
            $('#startDate').val("");
            $('#endDate').val("");
            $('#approved').val("");
            $('#records').val("500");
        });

        // Double click to details of workstation
        $('#workstations tbody tr td:not(:first-child, :last-child)').dblclick(function () {
            var currentRow = $(this).closest("tr");
            window.location.href = window.location.origin + '/Workstations/Details?id=' + currentRow.data("id");
        });

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Workstations</li>');
        });
    </script>
}
