@page
@model web.HES.Pages.Devices.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["ActivePage"] = ManageNavPages.Devices;
}

<h1>Create</h1>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Device.MAC" class="control-label"></label>
                <input asp-for="Device.MAC" class="form-control" />
                <span asp-validation-for="Device.MAC" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Device.Model" class="control-label"></label>
                <input asp-for="Device.Model" class="form-control" />
                <span asp-validation-for="Device.Model" class="text-danger"></span>
            </div>
           
            
           
            <div class="form-group">
                <label asp-for="Device.DeviceKey" class="control-label"></label>
                <input asp-for="Device.DeviceKey" class="form-control" />
                <span asp-validation-for="Device.DeviceKey" class="text-danger"></span>
            </div>
            
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
