html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html {
    position: relative;
    min-height: 100%;
}

.table thead th {
    vertical-align: bottom;
    border-top: 0;
    border-bottom: 0;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr {
    cursor: pointer;
}

.has-search-right {
    position: relative;
}

    .has-search-right .form-control {
        padding-right: 2.375rem;
    }

    .has-search-right .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        color: #aaa;
    }

        .has-search-right .form-control-feedback .img-size {
            width: 20px;
        }

.custom-alert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    z-index: 500;
}

.dashboard-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.dashboard-sidebar {
    min-width: 260px;
    max-width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
}

.dashboard-sidebar__header {
    padding: 10px;
    text-align: center;
}

.dashboard-sidebar__body {
    padding: 10px;
}

.dashboard-content {
    flex-grow: 1;
}

.dashboard-content__header {
    height: 57px;
}

.dashboard-content__body {
    padding: 15px;
    overflow-y: auto;
    height: calc(100vh - 57px);
}
