/* --- UI Elements --- */
/* Override disable custom checkbox */
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #adb5bd;
    background-color: #adb5bd;
}

/*#region Bg color */
.bg-white {
    background: #fff;
}

.border-navyblue {
    border-color: #0E3059 !important;
}
/*#endregion*/

/*#region Text color */
.text-navyblue {
    color: #0E3059 !important;
}

.text-gray {
    color: #7A7C8B !important;
}
/*#endregion*/

/* #region Override colors */
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #E7EAEE;
    cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #E7EAEE;
    cursor: pointer;
}
/*
.page-link {
    color: #0396D6;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

    .page-link:hover {
        color: #0396D6;
    }

.page-item.active .page-link {
    color: #fff;
    background-color: #0396D6;
    border-color: #0396D6;
}*/
.custom-link {
    color: #0E3059;
}
/*#endregion */

/* #region Main */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles  */
html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    background: #F7F8FC;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Title logo */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
/*#endregion */

/*#region Dashboard */
.custom-sidebar {
    padding: 7px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to top, #081C33, #0E3059);
}

.custom-main {
    width: 100%;
    overflow-x: hidden;
}

.custom-content {
    padding: 7px;
    overflow-x: hidden;
    height: calc(100vh - 59px);
    background: #F7F8FC;
}

/* --- Card ---  */
.card-col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1140px) {
    .card-col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1580px) {
    .card-col {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.dashboard-card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 340px;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.dashboard-card__title {
    color: #7A7C8B;
    font-weight: 500;
}

.dashboard-card-logo {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card-logo__img {
    height: 112px;
}

.dashboard-card-body {
    height: 115px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.dashboard-card-wrapper {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-card-info__title {
    color: #7A7C8B;
}

.dashboard-card-info__text {
    color: #0E3059;
    font-size: 36px;
}

/* --- Card notify --- */
.dashboard-card-notify-header {
    height: 170px;
    display: flex;
    flex-direction: row;
}

.dashboard-card-notify-logo {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card-notify.dashboard-card-logo__img {
    height: 84px;
}

.dashboard-card-list-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.dashboard-card-list {
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 148px;
}

.list-group-horizontal-lines .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-horizontal-lines:first-child .list-group-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-horizontal-lines:last-child .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/*#endregion */

/*#region Sidebar */
.navigation-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navigation-menu__body {
    flex: 1 0 auto;
}

.navigation-menu__footer {
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .custom-sidebar {
        min-width: 68px;
        max-width: 68px;
    }

    .page_labels {
        display: none;
    }

    .custom-size {
        height: 33.5px;
    }
}

.custom-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #0E3059;
    background-color: #FFFFFF;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .custom-pills .nav-link.active:hover {
        color: #0E3059;
        background-color: #FFF;
    }

        .custom-pills .nav-link.active:hover > .i-sidebar {
            background: #0E3059;
        }

.custom-pills .nav-link, .nav-pills .show > .nav-link {
    color: #B6C0CB;
    font-weight: 500;
}

    .custom-pills .nav-link > .i-sidebar {
        background: #B6C0CB;
    }

    .custom-pills .nav-link.active > .i-sidebar {
        background: #0E3059;
    }

    .custom-pills .nav-link:hover {
        color: #FFF;
        background-color: #304966;
        font-weight: 500;
    }

        .custom-pills .nav-link:hover > .i-sidebar {
            background: #FFF;
        }

.expand-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFFFFF;
    background-color: #0E3059;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .expand-pills .nav-link.active:hover {
        color: #FFFFFF;
        background-color: #0E3059;
    }

.expand-pills .nav-link, .nav-pills .show > .nav-link {
    color: #0E3059;
    font-weight: 500;
}

    .expand-pills .nav-link:hover {
        color: #0E3059;
        background-color: #E7EAEE;
        font-weight: 500;
    }

        .expand-pills .nav-link:hover > .i-sidebar {
            background: #FFF;
        }

@media (max-width: 768px) {
    .sidebar-settings {
        position: absolute;
        left: 70px;
        z-index: 500;
    }
}

.aria-exp.collapsed > .icon-arrow {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .icon-arrow {
        display: none;
    }
}

.copyright {
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 14px;
    padding-bottom: 15px;
    margin-top: 15px;
    text-align: center !important;
}

@media (max-width: 768px) {
    .copyright {
        display: none;
    }
}
/*#endregion */

/*#region Horizontal Pills*/
.custom-horizontal-pills {
    margin-top: -24px;
    background: #0E3059;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .custom-horizontal-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #0E3059;
        background-color: #FFFFFF;
        font-weight: 500;
        margin-left: 2px;
        margin-right: 2px;
    }

        .custom-horizontal-pills .nav-link.active:hover {
            color: #0E3059;
            background-color: #FFF;
        }

            .custom-horizontal-pills .nav-link.active:hover > .i-sidebar {
                background: #0E3059;
            }

    .custom-horizontal-pills .nav-link, .nav-pills .show > .nav-link {
        color: #B6C0CB;
        font-weight: 500;
    }

        .custom-horizontal-pills .nav-link > .i-sidebar {
            background: #B6C0CB;
        }

        .custom-horizontal-pills .nav-link.active > .i-sidebar {
            background: #0E3059;
        }

        .custom-horizontal-pills .nav-link:hover {
            color: #FFF;
            background-color: #304966;
            font-weight: 500;
        }

            .custom-horizontal-pills .nav-link:hover > .i-sidebar {
                background: #FFF;
            }
/*#endregion*/

/* #region Size */
.vh-90 {
    height: 90vh;
}

.vh-100 {
    height: 100vh;
}

.max-w-350 {
    max-width: 350px;
}
/* #endregion */

/*#region Cards */
.custom-card {
    background: #FFF;
    border-radius: 0.25rem !important;
    width: 388px;
    max-width: 388px;
    padding: 20px;
    border: 1px solid #dee2e6 !important;
}

.profile-fill-card {
    background: #FFF;
    border-radius: 0.25rem !important;
    width: 100%;
    padding: 20px;
    border: 1px solid #dee2e6 !important;
}

.custom-card-bottom {
    max-width: 388px;
    padding-top: 25px;
}

.custom-wide-card {
    background: #FFF;
    border-radius: 0.25rem !important;
    max-width: 540px;
    padding: 30px;
    border: 1px solid #dee2e6 !important;
    margin-bottom: 20px;
}

.custom-wide-clear-card {
    max-width: 540px;
    margin-bottom: 20px;
}

.modal-card {
    padding: 30px;
}

.filter-card {
    background: #FFF;
    border-radius: 0.25rem !important;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #dee2e6 !important;
}

.details-card {
    background: #fff;
    border-radius: 0.25rem !important;
    margin: 0px;
    padding: 7px 0px;
    border: 1px solid #dee2e6 !important;
}

.sub-details-card {
    background: #fff;
    border-radius: 0.25rem !important;
    margin: 0px;
    margin-top: 15px;
    padding: 7px 0px;
    border: 1px solid #dee2e6 !important;
}

.samlidp-card {
    background: #FFF;
    border-radius: 0.25rem !important;
    padding: 20px;
    border: 1px solid #dee2e6 !important;
}
/*#endregion

/*#region Input group*/

.custom-group {
    padding: 0.375rem 0.375rem;
    background-color: #ffffff;
    cursor: pointer;
}

.readonly-white {
    background-color: #fff !important;
}

.green-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #28a745 !important;
    background-color: #28a745 !important;
}
/*#endregion*/

/*#region Table */
.table {
    background: #fff;
    color: #0E3059 !important;
}

    .table thead th {
        vertical-align: bottom;
        border-top: 0;
        border-bottom: 0;
    }

td:focus {
    outline: none;
}

th {
    white-space: nowrap;
}

td {
    white-space: nowrap;
}

.table-col-menu {
    width: 24px;
}

.pagination {
    margin: 0;
}

.cell-ellipsis {
    max-width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .cell-ellipsis {
        max-width: 100px;
    }
}


/* Input with icon */
.has-search-right {
    position: relative;
}

    .has-search-right .form-control {
        padding-right: 2.375rem;
    }

    .has-search-right .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        color: #aaa;
    }

        .has-search-right .form-control-feedback .img-size {
            width: 20px;
        }

.custom-badge {
    padding: 0.4em 0.4em;
    font-size: 85%;
}

/*inside-scrollbar*/
.dataTables_wrapper .dataTables_scroll {
    border: 1px solid #ccc;
    margin: 1.5rem 0;
    /*border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;*/
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border: 0 !important;
}

.dataTables_scrollBody {
    overflow-x: hidden !important;
    border-top: 1px solid #ccc;
}

/*checkbox*/
.custom-control-label {
    vertical-align: top;
    cursor: pointer;
}

.table-responsive > div {
    margin-left: 0;
    margin-right: 0;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
/*#endregion*/

/*#region Dropdown menu */
.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.no-arrow .dropdown-toggle::after {
    display: none;
}

.dropdown-menu-right {
    right: 2px;
    left: auto;
}
/*#endregion*/

/*#region Loading screen */
.loading {
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1051;
    width: calc(100vw - 250px);
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: #F7F8FC;
}

@media screen and (max-width: 768px) {
    .loading {
        left: 68px;
        width: calc(100vw - 68px);
    }
}
/*#endregion*/

/*#region Breadcrumb */
.breadcrumb {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .breadcrumb {
        display: none;
    }
}
/*#endregion*/

/*#region Toggled */
.custom-sidebar.toggled {
    min-width: 68px;
    max-width: 68px;
}

.page_labels.toggled {
    display: none;
}

.sidebar-settings.toggled {
    position: absolute;
    left: 70px;
    z-index: 500;
}

.icon-arrow.toggled {
    display: none;
}

.copyright.toggled {
    display: none;
}

.loading.toggled {
    left: 68px;
    width: calc(100vw - 68px);
}

.icon-hideez.toggled {
    width: 35px;
    -webkit-mask: url('../svg/hideez-logo.svg');
    mask: url('../svg/hideez-logo.svg');
}

@media (max-width: 768px) {
    #BtnToggleSidebar {
        display: none;
    }
}
/*#endregion*/

/*#region Alert */
.custom-alert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    z-index: 500;
}

.custom-success-alert {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 380px;
    z-index: 500;
}

@media screen and (max-width: 768px) {
    .custom-success-alert {
        width: 320px;
        left: 50%;
        bottom: 25px;
        transform: translate(-50%, 0%);
    }
}
/*#endregion*/

/*#region Notification */
.notification {
    display: inline-block;
    position: relative;
    background: #0E3059;
    width: 24px;
    height: 24px;
    -webkit-mask: url('../svg/account/bell.svg');
    mask: url('../svg/account/bell.svg');
    transform-origin: top center;
}

.notify {
    -webkit-animation: ring 2.5s infinite;
    animation: ring 2.5s infinite;
    background: #ff0000;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(0deg);
    }

    12.5% {
        -webkit-transform: rotate(-30deg);
    }

    25% {
        -webkit-transform: rotate(25deg);
    }

    37.5% {
        -webkit-transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
    }

    62.5% {
        -webkit-transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    12.5% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }

    25% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

    37.5% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    62.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
/*#endregion*/

/*#region Icons*/
.icon-hideez {
    width: 191px;
    height: 34px;
    background: #FFF;
    -webkit-mask: url('../svg/hideez-full.svg');
    mask: url('../svg/hideez-full.svg');
}

@media (max-width: 768px) {
    .icon-hideez {
        width: 35px;
        -webkit-mask: url('../svg/hideez-logo.svg');
        mask: url('../svg/hideez-logo.svg');
    }
}

/* Sidebar */
.icon-dashboard {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-dashboard.svg');
    mask: url('../svg/sidebar/round-dashboard.svg');
}

.icon-employees {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-supervisor_account.svg');
    mask: url('../svg/sidebar/round-supervisor_account.svg');
}

.icon-computers {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-desktop-windows.svg');
    mask: url('../svg/sidebar/round-desktop-windows.svg');
}

.icon-shared-accounts {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-shared_account.svg');
    mask: url('../svg/sidebar/round-shared_account.svg');
}

.icon-templates {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-list.svg');
    mask: url('../svg/sidebar/round-list.svg');
}

.icon-devices {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-device.svg');
    mask: url('../svg/sidebar/round-device.svg');
}

.icon-audit {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-audit.svg');
    mask: url('../svg/sidebar/round-audit.svg');
}

.icon-settings {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-settings.svg');
    mask: url('../svg/sidebar/round-settings.svg');
}

.icon-arrow {
    width: 24px;
    height: 24px;
    float: right;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/arrow_drop.svg');
    mask: url('../svg/sidebar/arrow_drop.svg');
}
/*#endregion*/

/* Common */
.btn-add {
    height: 38px;
    width: 38px;
    padding: 0 6px;
    margin-left: 5px;
}

.pin-settings-value {
    width: 110px;
}

.second-modal {
    width: 498px;
    left: 50%;
    transform: translateX(-50%);
}

/*#region Popover*/
.popover-btn:focus {
    box-shadow: none;
}

.popover-panel-top-right {
    background: #fff;
    position: absolute;
    padding: 10px 0px;
    border-radius: 8px;
    display: none;
    left: 43px;
    top: -12px;
    z-index: 500;
    border: 1px solid #dee2e6 !important;
}

    .popover-panel-top-right::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #fff;
        position: absolute;
        top: 20px;
        left: -1px;
        transform: translateX(-50%) rotate(45deg);
        border-left: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
/*#endregion*/

.link-optional:hover {
    text-decoration: none;
}

.link-optional:after {
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: central;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/* Wizard */
.wizard-tab {
    width: 100%;
    height: 384px;
}
