@model HES.Web.Pages.Settings.DeviceAccessProfiles.IndexModel

<form method="post">
    <div class="form-group">
        <label asp-for="DeviceAccessProfile.Name" class="control-label text-gray"></label>
        <input asp-for="DeviceAccessProfile.Name" class="form-control text-navyblue" />
        <span asp-validation-for="DeviceAccessProfile.Name" class="text-danger"></span>
    </div>

    <label class="text-gray">Authorization parameters</label>
    <table class="table border rounded w-100 disable-selection">
        <thead>
            <tr>
                <th></th>
                <th class="text-center align-middle">
                    Bonding
                </th>
                <th class="text-center align-middle">
                    Connection
                </th>
                <th class="text-center align-middle">
                    New Channel
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Button
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox" title="Request the device button confirmation for connecting the device to the computer for the first time.">
                        <input type="checkbox" class="custom-control-input" id="ButtonBonding" asp-for="DeviceAccessProfile.ButtonBonding">
                        <label class="custom-control-label" for="ButtonBonding"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox " title="Request the device button confirmation for connecting the device to the computer that is already bonded with the computer. ">
                        <input type="checkbox" class="custom-control-input" id="ButtonConnection" asp-for="DeviceAccessProfile.ButtonConnection">
                        <label class="custom-control-label" for="ButtonConnection"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox" title="Request the device button confirmation when an application is getting access to the device’s storage.">
                        <input type="checkbox" class="custom-control-input" id="ButtonNewChannel" asp-for="DeviceAccessProfile.ButtonNewChannel">
                        <label class="custom-control-label" for="ButtonNewChannel"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    PIN
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox" title="Request the PIN-code for connecting the device to the computer for the first time.">
                        <input type="checkbox" class="custom-control-input" id="PinBonding" asp-for="DeviceAccessProfile.PinBonding">
                        <label class="custom-control-label" for="PinBonding"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox" title="Request the PIN-code for connecting the device to the computer that is already bonded with the computer.">
                        <input type="checkbox" class="custom-control-input" id="PinConnection" asp-for="DeviceAccessProfile.PinConnection">
                        <label class="custom-control-label" for="PinConnection"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox" title="Request the PIN-code when an application is getting access to the device’s storage.">
                        <input type="checkbox" class="custom-control-input" id="PinNewChannel" asp-for="DeviceAccessProfile.PinNewChannel">
                        <label class="custom-control-label" for="PinNewChannel"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Server Confirmation
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox" title="Require the server confirmation for connecting the device to the computer for the first time.">
                        <input type="checkbox" class="custom-control-input" id="MasterKeyBonding" checked="checked" disabled>
                        <label class="custom-control-label" for="MasterKeyBonding"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox" title="Require the server confirmation for connecting the device to the computer that is already bonded with the computer.">
                        <input type="checkbox" class="custom-control-input" id="MasterKeyConnection" asp-for="DeviceAccessProfile.MasterKeyConnection">
                        <label class="custom-control-label" for="MasterKeyConnection"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox" title="Require the server confirmation when an application is getting access to the device’s storage.">
                        <input type="checkbox" class="custom-control-input" id="MasterKeyNewChannel" asp-for="DeviceAccessProfile.MasterKeyNewChannel" value="false" disabled>
                        <label class="custom-control-label" for="MasterKeyNewChannel"></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <label class="text-gray">PIN settings</label>
    <table class="table border rounded w-100 disable-selection">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    PIN expiration
                </td>
                <td class="text-center pl-1 pr-1" title="After PIN code is expired, the device storage will be locked until the user enters the PIN again.">
                    <input id="pin_expiration" type="range" class="custom-range" min="1" max="107" step="1" value="1" asp-for="DeviceAccessProfile.PinExpirationConverted">
                </td>
                <td class="text-center pin-settings-value">
                    <h6 id="pin_expiration_value"></h6>
                </td>
            </tr>
            <tr>
                <td>
                    PIN length
                </td>
                <td class="text-center pl-1 pr-1">
                    <input id="pin_length" type="range" class="custom-range" min="4" max="8" step="1" value="4" asp-for="DeviceAccessProfile.PinLength">
                </td>
                <td class="text-center pin-settings-value">
                    <h6 id="pin_length_value"></h6>
                </td>
            </tr>
            <tr>
                <td>
                    PIN incorrect entry
                </td>
                <td class="text-center pl-1 pr-1" title="Maximum number of incorrect PIN code entering. After the number of entries is exceeded, the device is locked.">
                    <input id="pin_try_count" type="range" class="custom-range" min="3" max="10" step="1" value="1" asp-for="DeviceAccessProfile.PinTryCount">
                </td>
                <td class="text-center pin-settings-value">
                    <h6 id="pin_try_count_value"></h6>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreateProfile" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}