@model HES.Web.Pages.Settings.DeviceAccessProfiles.IndexModel

<form method="post">
    <div class="form-group">
        <label asp-for="DeviceAccessProfile.Name" class="control-label text-gray"></label>
        <input asp-for="DeviceAccessProfile.Name" class="form-control text-navyblue" />
        <span asp-validation-for="DeviceAccessProfile.Name" class="text-danger"></span>
    </div>

    <label class="text-gray">Authorization parameters</label>
    <table class="table border rounded w-100 disable-selection">
        <thead>
            <tr>
                <th></th>
                <th class="text-center align-middle">
                    Bonding
                </th>
                <th class="text-center align-middle">
                    Connection
                </th>
                <th class="text-center align-middle">
                    New Channel
                </th>
                <th class="text-center align-middle">
                    New Link
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Button
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ButtonBonding" asp-for="DeviceAccessProfile.ButtonBonding">
                        <label class="custom-control-label" for="ButtonBonding"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ButtonConnection" asp-for="DeviceAccessProfile.ButtonConnection">
                        <label class="custom-control-label" for="ButtonConnection"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ButtonNewChannel" asp-for="DeviceAccessProfile.ButtonNewChannel">
                        <label class="custom-control-label" for="ButtonNewChannel"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ButtonNewLink" asp-for="DeviceAccessProfile.ButtonNewLink">
                        <label class="custom-control-label" for="ButtonNewLink"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    PIN
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="PinBonding" asp-for="DeviceAccessProfile.PinBonding">
                        <label class="custom-control-label" for="PinBonding"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="PinConnection" asp-for="DeviceAccessProfile.PinConnection">
                        <label class="custom-control-label" for="PinConnection"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="PinNewChannel" asp-for="DeviceAccessProfile.PinNewChannel">
                        <label class="custom-control-label" for="PinNewChannel"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="PinNewLink" asp-for="DeviceAccessProfile.PinNewLink">
                        <label class="custom-control-label" for="PinNewLink"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Master-key
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="MasterKeyBonding" asp-for="DeviceAccessProfile.MasterKeyBonding">
                        <label class="custom-control-label" for="MasterKeyBonding"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="MasterKeyConnection" asp-for="DeviceAccessProfile.MasterKeyConnection">
                        <label class="custom-control-label" for="MasterKeyConnection"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="MasterKeyNewChannel" asp-for="DeviceAccessProfile.MasterKeyNewChannel">
                        <label class="custom-control-label" for="MasterKeyNewChannel"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="MasterKeyNewLink" asp-for="DeviceAccessProfile.MasterKeyNewLink">
                        <label class="custom-control-label" for="MasterKeyNewLink"></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <label class="text-gray">PIN settings</label>
    <table class="table border rounded w-100 disable-selection">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    PIN expiration
                </td>
                <td class="text-center pl-1 pr-1">
                    <input id="pin_expiration" style="width:200px" asp-for="DeviceAccessProfile.PinExpirationConverted" type="text" data-slider-min="1" data-slider-max="107" data-slider-step="1" data-slider-value="1" />
                </td>
                <td class="text-center pin-settings-value">
                    <h6 id="pin_expiration_value"></h6>
                </td>
            </tr>
            <tr>
                <td>
                    PIN length
                </td>
                <td class="text-center pl-1 pr-1">
                    <input id="pin_length" style="width:200px" asp-for="DeviceAccessProfile.PinLength" type="text" data-slider-min="4" data-slider-max="8" data-slider-step="1" data-slider-value="4" />
                </td>
                <td class="text-center pin-settings-value">
                    <h6 id="pin_length_value"></h6>
                </td>
            </tr>
            <tr>
                <td>
                    PIN try count
                </td>
                <td class="text-center pl-1 pr-1">
                    <input id="pin_try_count" style="width:200px" asp-for="DeviceAccessProfile.PinTryCount" type="text" data-slider-min="3" data-slider-max="200" data-slider-step="1" data-slider-value="3" />
                </td>
                <td class="text-center pin-settings-value">
                    <h6 id="pin_try_count_value"></h6>
                </td>
            </tr>
            <tr>
                <td>
                    Master-key expiration
                </td>
                <td class="text-center pl-1 pr-1">
                    <input id="masterkey_expiration" style="width:200px" asp-for="DeviceAccessProfile.MasterKeyExpirationConverted" type="text" data-slider-min="1" data-slider-max="107" data-slider-step="1" data-slider-value="1" />
                </td>
                <td class="text-center pin-settings-value">
                    <h6 id="masterkey_expiration_value"></h6>
                </td>
            </tr>
            <tr>
                <td>
                    Button expiration
                </td>
                <td class="text-center pl-1 pr-1">
                    <input id="button_expiration" style="width:200px" asp-for="DeviceAccessProfile.ButtonExpiration" type="text" data-slider-min="1" data-slider-max="15" data-slider-step="1" data-slider-value="1" />
                </td>
                <td class="text-center pin-settings-value">
                    <h6 id="button_expiration_value"></h6>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreateProfile" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}