@page
@model HES.Web.Pages.Settings.DeviceAccessProfiles.IndexModel

@{
    ViewData["Title"] = "Device Access Profiles";
    ViewData["ActivePage"] = MenuNavPages.Settings;
    ViewData["SettingsPage"] = SettingsNavPages.DeviceAccessProfiles;
}

<partial name="_SuccessMessage" for="SuccessMessage" />
<partial name="_ErrorMessage" for="ErrorMessage" />

<div id="content">
    <partial name="_DeviceAccessProfilesTable" />
</div>

@* Modal *@
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width:600px;">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        InitDeviceAccessProfileDT();
        DeviceAccessProfileSetBreadcrumbs();

        // Open modal dialog
        $(document).on('click', '.open-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            $('#modalDialogTitle').html(title);
            $('#modalDialog').modal('toggle');

            $.ajax({
                url: "/Settings/DeviceAccessProfiles?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#modalBody").html(response);
                    ValidatePartialView()
                    InitSlidersText();
                }
            });
        });

        $(document).on('dblclick', '.row-dblclick', function () {
            var id = $(this).data("id");
            $('#modalDialogTitle').html("View profile");
            $('#modalDialog').modal('toggle');

            $.ajax({
                url: "/Settings/DeviceAccessProfiles?handler=ViewProfile",
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#modalBody").html(response);
                }
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}