@model HES.Web.Pages.Employees.DetailsModel

<h5 class="text-gray mb-4 ">You want to remove device @Model.Device.Id? When removing the device, all accounts associated with the device will be deleted.</h5>

<form method="post" class="text-right">
    <input type="hidden" asp-for="Device.Id" />
    <input type="hidden" asp-for="Device.Employee.Id" />
    <input type="hidden" asp-for="Device.Employee.Email" />
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <input type="submit" value="Delete" class="btn btn-danger" asp-page-handler="DeleteDevice" />
</form>