@model HES.Web.Pages.Employees.IndexModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Employee.Id" />
    <div class="form-group">
        <label asp-for="Employee.FirstName" class="control-label text-gray"></label>
        <input asp-for="Employee.FirstName" class="form-control text-navyblue" />
        <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employee.LastName" class="control-label text-gray"></label>
        <input asp-for="Employee.LastName" class="form-control text-navyblue" />
        <span asp-validation-for="Employee.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employee.Email" class="control-label text-gray"></label>
        <input id="email" asp-for="Employee.Email" class="form-control text-navyblue" />
        <span asp-validation-for="Employee.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employee.PhoneNumber" class="control-label text-gray"></label>
        <input asp-for="Employee.PhoneNumber" class="form-control text-navyblue" />
        <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employee.Department.CompanyId" class="control-label text-gray"></label>
        <select id="companies" asp-for="Employee.Department.CompanyId" onchange="GetDepartment(this.value)" class="form-control text-navyblue" asp-items="ViewBag.CompanyId"></select>
    </div>
    <div class="form-group">
        <label asp-for="Employee.DepartmentId" class="control-label text-gray"></label>
        <select id="departments" asp-for="Employee.DepartmentId" class="form-control text-navyblue" asp-items="ViewBag.DepartmentId"></select>
        <select asp-for="Employee.Department.Name" asp-items="ViewBag.DepartmentId" hidden></select>
        <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="Employee.PositionId" class="control-label text-gray"></label>
        <select asp-for="Employee.PositionId" class="form-control text-navyblue" asp-items="ViewBag.PositionId"></select>
        <span asp-validation-for="Employee.PositionId" class="text-danger"></span>
    </div>
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Save" class="btn btn-primary" asp-page-handler="EditEmployee" />
    </div>
</form>

<script>
    $(function () {
        $('#email').blur();
    });
</script>