@page
@model HES.Web.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Employees";
    ViewData["ActivePage"] = MenuNavPages.Employees;
}

<partial name="_SuccessMessage" for="SuccessMessage" />
<partial name="_ErrorMessage" for="ErrorMessage" />

<div id="filter-collapse" class="filter-card collapse pb-1">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="EmployeeFilter.StartDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="startDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="EmployeeFilter.StartDate" aria-describedby="startDateAppend" />
                    <div class="input-group-append" onclick="ShowStartDate()">
                        <span class="input-group-text custom-group" id="startDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="EmployeeFilter.EndDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="endDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="EmployeeFilter.EndDate" aria-describedby="endDateAppend" />
                    <div class="input-group-append" onclick="ShowEndDate()">
                        <span class="input-group-text custom-group" id="endDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="EmployeeFilter.CompanyId" class="control-label"></label>
                <select id="companyId" onchange="GetDepartmentFilter(this.value)" asp-for="EmployeeFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="EmployeeFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="EmployeeFilter.DepartmentId" class="form-control" title="first choose a company" disabled>
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="EmployeeFilter.PositionId" class="control-label"></label>
                <select id="positionId" asp-for="EmployeeFilter.PositionId" class="form-control" asp-items="ViewBag.Positions">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="EmployeeFilter.DevicesCount" class="control-label"></label>
                <select id="devicesCount" asp-for="EmployeeFilter.DevicesCount" class="form-control" asp-items="ViewBag.DevicesCount">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="EmployeeFilter.Records" class="control-label"></label>
                <select id="records" asp-for="EmployeeFilter.Records" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option selected value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="3000">3000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div>
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    <partial name="_EmployeesTable" />
</div>

@* Modal *@
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Second Modal *@
<div class="modal" id="secondModalDialog" tabindex="-1" role="dialog" aria-labelledby="secondModalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content second-modal">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="secondModalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="secondModalBody" class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/dt-init-employees.js"></script>
    <script>
        // Initialize DateTimePicker
        $('#startDate').datepicker({
            timepicker: true,
            startDate: GetTime('min'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#endDate').datepicker().data('datepicker').update('minDate', d);
            }
        });
        $('#endDate').datepicker({
            timepicker: true,
            startDate: GetTime('max'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#startDate').datepicker().data('datepicker').update('maxDate', d);
            }
        });
        function GetTime(value) {
            var time = new Date();
            if (value == 'min') {
                time.setHours(0);
                time.setMinutes(0);
                time.setSeconds(0);
                time.setMilliseconds(000);
            }
            else {
                time.setHours(23);
                time.setMinutes(59);
                time.setSeconds(59);
                time.setMilliseconds(999);
            }
            return time;
        }
        function ShowStartDate() {
            $('#startDate').datepicker().data('datepicker').show();
        }
        function ShowEndDate() {
            $('#endDate').datepicker().data('datepicker').show();
        }

        // Open modal dialog
        $(document).on('click', '.open-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            if (action == "CreateEmployee") {
                $('.modal-dialog').addClass('modal-lg');
            }
            else {
                $('.modal-dialog').removeClass('modal-lg');
            }

            $('#modalDialogTitle').html(title);
            $('#modalDialog').modal('toggle');

            $.ajax({
                url: "/Employees?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#modalBody").html(response);

                    if (action == "CreateEmployee") {
                        $('#companies').trigger('onchange');
                    }

                    // Validation partial view
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                }
            });
        });

        // Clear content on modal dialog is hide
        $('#modalDialog').on('hidden.bs.modal', function (e) {
            $("#modalBody").html("<div class='d-flex justify-content-center align-items-center'><div class='spinner-grow text-primary' style='width: 3rem; height: 3rem;' role='status'><span class='sr-only'></span></div></div>");
        })

        // Open second modal dialog
        $(document).on('click', '.open-second-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            $('#secondModalDialogTitle').html(title);
            $('#secondModalDialog').modal('toggle');

            $.ajax({
                url: "/Employees?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#secondModalBody").html(response);

                    $('#orgStructureForm').attr('data-id', id); // For department

                    // Validation partial view
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                }
            });
        });

        // Clear content on second modal dialog is hide
        $('#secondModalDialog').on('hidden.bs.modal', function (e) {
            $("#modalBodySettings").html("<div class='d-flex justify-content-center align-items-center'><div class='spinner-grow text-primary' style='width: 3rem; height: 3rem;' role='status'><span class='sr-only'></span></div></div>");
        })

        // Multiple modal dialogs
        $(document).on('show.bs.modal', '.modal', function () {
            var zIndex = 1040 + (10 * $('.modal:visible').length);
            $(this).css('z-index', zIndex);
            setTimeout(function () {
                $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
            }, 0);
        });

        // Submit org structure form
        $(document).on('submit', '#orgStructureForm', function (e) {
            e.preventDefault();

            var id = $(this).data("id");
            var action = $(this).data("action");

            var exists = false;
            var current = $('.orgstructure-popover').val();

            switch (action) {
                case "CreateCompany":
                    $.ajax({
                        url: "/Employees?handler=JsonCompany",
                        type: "Get",
                        async: false,
                        success: function (response) {
                            $(response).each(function () {
                                if (this.name.toUpperCase() === current.trim().toUpperCase()) {
                                    exists = true;
                                    return;
                                }
                            });
                        }
                    });
                    break;
                case "CreateDepartment":
                    $.ajax({
                        url: "/Employees?handler=JsonDepartment",
                        type: "Get",
                        async: false,
                        data: { id: id },
                        success: function (response) {
                            $(response).each(function () {
                                if (this.name.toUpperCase() === current.trim().toUpperCase()) {
                                    exists = true;
                                    return;
                                }
                            });
                        }
                    });
                    break;
                case "CreatePosition":
                    $.ajax({
                        url: "/Employees?handler=JsonPosition",
                        type: "Get",
                        async: false,
                        success: function (response) {
                            $(response).each(function () {
                                if (this.name.toUpperCase() === current.trim().toUpperCase()) {
                                    exists = true;
                                    return;
                                }
                            });
                        }
                    });
                    break;
            }

            if (exists) {
                $('.orgstructure-popover').popover('toggle');
                return;
            }

            $.ajax({
                method: "POST",
                url: "/Employees?handler=" + action,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#orgStructureForm').serialize(),
                async: true,
                success: function (response) {
                    //Update dropdown
                    switch (action) {
                        case "CreateCompany":
                            GetCompany(response);
                            break;
                        case "CreateDepartment":
                            GetDepartment(response.company, response.department);
                            break;
                        case "CreatePosition":
                            GetPosition(response);
                            break;
                    }
                    $('#secondModalDialog').modal('hide');
                }
            });
        });

        // Popover
        $(document).on('input', '.orgstructure-popover', function () {
            $('.orgstructure-popover').popover('hide');
        });

        // Enable Department
        function EnableOrDisableDepartment() {
            var length = $('#companies > option').length;
            if (length > 0) {
                $('#add_position_btn').prop("disabled", false);
                $('#add_position_btn').prop("title", "");
            }
            else {
                $('#add_position_btn').prop("disabled", true);
                $('#add_position_btn').prop("title", "Add company first");
            }
        }

        // Dropdown Company
        function GetCompany(current) {
            $.getJSON('/Employees?handler=JsonCompany',
                function (data) {
                    obj = "";
                    $(data).each(function () {
                        obj = obj + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#companies");
                    subList.empty();
                    subList.append(obj);
                    // Select added company
                    $("#companies option:contains(" + current + ")").attr('selected', 'selected');
                    // Update departments
                    $('#companies').trigger('onchange');
                });
        }

        // Dropdown Department
        function GetDepartment(id, current) {
            EnableOrDisableDepartment();
            if (typeof id == 'undefined'|| id === '') {
                return;
            }
            $.getJSON('/Employees?handler=JsonDepartment', { id: id },
                function (data) {
                    var dep = "";
                    $(data).each(function () {
                        dep = dep + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#departments");
                    subList.empty();
                    subList.append(dep);
                    $('#add_position_btn').attr('data-id', id);

                    if (typeof current != 'undefined') {
                        $("#departments option:contains(" + current + ")").attr('selected', 'selected');
                    }
                });
        }

        // Dropdown Position
        function GetPosition(current) {
            $.getJSON('/Employees?handler=JsonPosition',
                function (data) {
                    obj = "";
                    $(data).each(function () {
                        obj = obj + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#positions");
                    subList.empty();
                    subList.append(obj);
                    // Select added company
                    $("#positions option:contains(" + current + ")").attr('selected', 'selected');
                });
        }

        //#region Filter

        // Submit filter
        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $.ajax({
                method: "POST",
                url: "/Employees?handler=FilterEmployees",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        // Clear filter
        $(document).on('click', '#clearFilter', function () {
            $('#startDate').datepicker().data('datepicker').clear();
            $('#endDate').datepicker().data('datepicker').clear();
            $('#devicesCount').val("");
            $('#positionId').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
            $('#records').val("500");
        });

        // Dropdown Department in filter
        function GetDepartmentFilter(id) {
            $.getJSON('/Employees?handler=JsonDepartment', { id: id },
                function (data) {
                    var dep = "<option selected=''></option>";
                    $(data).each(function () {
                        dep = dep + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#departmentId");
                    subList.empty();
                    subList.append(dep);
                    subList.removeAttr("disabled");
                    subList.removeAttr("title");
                });
        }

        //#endregion

        // Double click to details of employee
        $(document).on('dblclick', '.row-dblclick', function () {
            window.location.href = window.location.origin + '/Employees/Details?id=' + $(this).data("id");
        });

        // Ready
        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Employees</li>');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}