/* Title */
.icon-hideez {
    width: 191px;
    height: 34px;
    background: #FFF;
    -webkit-mask: url('../svg/hideez-full.svg');
    mask: url('../svg/hideez-full.svg');
}

@media (max-width: 768px) {
    .icon-hideez {
        width: 35px;
        -webkit-mask: url('../svg/hideez-logo.svg');
        mask: url('../svg/hideez-logo.svg');
    }
}

/* Sidebar */
.icon-dashboard {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-dashboard.svg');
    mask: url('../svg/sidebar/round-dashboard.svg');
}

.icon-employees {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-supervisor_account.svg');
    mask: url('../svg/sidebar/round-supervisor_account.svg');
}

.icon-devices {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-device.svg');
    mask: url('../svg/sidebar/round-device.svg');
}

.icon-settings {
    width: 24px;
    height: 24px;
    background: #FFF;
    -webkit-mask: url('../svg/sidebar/round-settings.svg');
    mask: url('../svg/sidebar/round-settings.svg');
}