/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles  */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles  */
html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Dashboard */
.custom-sidebar {
    padding: 7px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to top, #081C33, #0E3059);
}

.custom-main {
    width: 100%;
    overflow-x: hidden;
    /*background-color: #beffaa;*/
}

.custom-content {
    padding: 7px;
    overflow-x: hidden;
    height: calc(100vh - 59px);
    background: #F7F8FC;
}

/*.custom-main {
    height: 100vh;
}*/

/*.custom-sidebar {
    padding: 7px;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: linear-gradient(to top, #081C33, #0E3059);
}*/

/*.custom-content {
    padding: 7px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #F7F8FC;
    height: calc(100vh - 59px);
}*/

.vh-90 {
    height: 90vh;
}

/* Buttom menu dots */
.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.no-arrow .dropdown-toggle::after {
    display: none;
}

.dropdown-menu-right {
    right: 2px;
    left: auto;
}

/*.dropdown {
    width: 24px;
    height: 24px;
}*/

/* Custom pagination */
.pagination {
    margin: 0;
}

/* Table */
.table thead th {
    vertical-align: bottom;
    border-top: 0;
    border-bottom: 0;
}

td {
    white-space: nowrap;
}

/*.table-hover tbody tr:hover {
    color: #fff;
    background-color: #007bff;
}*/

.menu-dots-col {
    width: 20px;
}

@media screen and (max-width: 768px) {
    .custom-sidebar {
        min-width: 68px;
        max-width: 68px;
    }

    .page_labels {
        display: none;
    }

    .custom-size {
        height: 33.5px;
    }

    /*.sidebar.toggled .nav-item .collapse {
        position: absolute;
        left: calc(6.5rem + 1.5rem / 2);
        z-index: 1;
        top: 2px;
    }*/

    #collapseExample {
        position: absolute;
        left: 70px;
        z-index: 1;
        /*top: 2px;*/
    }


    /*.sidebar*/
    #mynav {
        position: absolute;
        left: 70px;
        z-index: 1;
    }
}


/*.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.85rem;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}*/

/*.topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}*/


/*.dropdown-toggle::after {
    display: none;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}*/

