/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.bg-white {
    background: #fff;
}

/*#region Text color */
.text-navyblue {
    color: #0E3059 !important;
}

.text-gray {
    color: #7A7C8B !important;
}
/*#endregion*/

/* #region Override colors */
a {
    color: #0396D6;
}

    a:hover {
        color: #027EB2;
    }

.btn-primary {
    color: #fff;
    background-color: #0396D6;
    border-color: #0396D6;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #027EB2;
        border-color: #027EB2;
    }

    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(2, 126, 178, 0.5);
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #027EB2;
        border-color: #027EB2;
    }

.nav-pills .nav-link {
    color: #0396D6;
}

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #0396D6;
    }

.btn-link {
    font-weight: 400;
    color: #0396D6;
    text-decoration: none;
}

    .btn-link:hover {
        color: #027EB2;
        text-decoration: underline;
    }

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #E7EAEE;
}

.dropdown-item.active, .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #E7EAEE;
}


.page-link {
    color: #0396D6;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

    .page-link:hover {
        color: #0396D6;
    }

.page-item.active .page-link {
    color: #fff;
    background-color: #0396D6;
    border-color: #0396D6;
}

/*#endregion */

/* #region Main */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles  */
html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    background: #F7F8FC;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Title logo */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
/*#endregion */

/*#region Dashboard */
.custom-sidebar {
    padding: 7px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to top, #081C33, #0E3059);
}

.custom-main {
    width: 100%;
    overflow-x: hidden;
}

.custom-content {
    padding: 7px;
    overflow-x: hidden;
    height: calc(100vh - 59px);
    background: #F7F8FC;
}
/*#endregion */

/*#region Sidebar */
.custom-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #0E3059;
    background-color: #FFFFFF;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .custom-pills .nav-link.active:hover {
        color: #0E3059;
        background-color: #FFF;
    }

        .custom-pills .nav-link.active:hover > .i-sidebar {
            background: #0E3059;
        }

.custom-pills .nav-link, .nav-pills .show > .nav-link {
    color: #B6C0CB;
    font-weight: 500;
}

    .custom-pills .nav-link > .i-sidebar {
        background: #B6C0CB;
    }

    .custom-pills .nav-link.active > .i-sidebar {
        background: #0E3059;
    }

    .custom-pills .nav-link:hover {
        color: #FFF;
        background-color: #304966;
        font-weight: 500;
    }

        .custom-pills .nav-link:hover > .i-sidebar {
            background: #FFF;
        }

.expand-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFFFFF;
    background-color: #0E3059;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .expand-pills .nav-link.active:hover {
        color: #FFFFFF;
        background-color: #0E3059;
    }

.expand-pills .nav-link, .nav-pills .show > .nav-link {
    color: #0E3059;
    font-weight: 500;
}

    .expand-pills .nav-link:hover {
        color: #0E3059;
        background-color: #E7EAEE;
        font-weight: 500;
    }

        .expand-pills .nav-link:hover > .i-sidebar {
            background: #FFF;
        }

.sidebar-settings {
    margin: 2px 2px;
}

@media (max-width: 768px) {
    .sidebar-settings {
        position: absolute;
        left: 70px;
        z-index: 1;
    }
}
/*#endregion */

/* #region Size */
.vh-90 {
    height: 90vh;
}

.vh-100 {
    height: 100vh;
}

.max-w-350 {
    max-width: 350px;
}
/* #endregion */

/*#region Cards */
.custom-card {
    background: #FFF;
    border-radius: 0.25rem !important;
    width: 388px;
    max-width: 388px;
    padding: 30px;
    border: 1px solid #dee2e6 !important;
}

.custom-card-bottom {
    max-width: 388px;
    padding-top: 25px;
}

.custom-wide-card {
    background: #FFF;
    border-radius: 0.25rem !important;
    /*width: 730px;*/
    max-width: 730px;
    padding: 30px;
    border: 1px solid #dee2e6 !important;
}

.modal-card {
    padding: 30px;
}
/*#endregion*/

.has-search .form-control-feedback {
    position: absolute;
    right: 18px;
    z-index: 2;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
}

/* Buttom menu dots */
.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.no-arrow .dropdown-toggle::after {
    display: none;
}

.dropdown-menu-right {
    right: 2px;
    left: auto;
}

/*.dropdown {
    width: 24px;
    height: 24px;
}*/

/* Custom pagination */
.pagination {
    margin: 0;
}

/*#region Table */
.table {
    background: #fff;
    color: #0E3059 !important;
}

    .table thead th {
        vertical-align: bottom;
        border-top: 0;
        border-bottom: 0;
    }

td {
    white-space: nowrap;
}

/*.table-hover tbody tr:hover {
    color: #fff;
    background-color: #007bff;
}*/

.table-col-menu {
    width: 24px;
}

/*#endregion*/

.copyright {
    position: absolute;
    left: 34px;
    bottom: 15px;
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 14px;
    width: 180px;
}

@media (max-width: 768px) {
    .copyright {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .custom-sidebar {
        min-width: 68px;
        max-width: 68px;
    }

    .page_labels {
        display: none;
    }

    .custom-size {
        height: 33.5px;
    }
}
