@page
@model HES.Web.Pages.Audit.WorkstationEvents.IndexModel

@{
    ViewData["Title"] = "Events";
    ViewData["ActivePage"] = MenuNavPages.Audit;
    ViewData["AuditPage"] = AuditNavPages.WorkstationEvents;
}

<div id="filter-collapse" class="filter-card collapse pb-1">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.StartDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="startDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="WorkstationEventFilter.StartDate" aria-describedby="startDateAppend" />
                    <div class="input-group-append" onclick="ShowStartDate()">
                        <span class="input-group-text custom-group" id="startDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.EndDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="endDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="WorkstationEventFilter.EndDate" aria-describedby="endDateAppend" />
                    <div class="input-group-append" onclick="ShowEndDate()">
                        <span class="input-group-text custom-group" id="endDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.EventId" class="control-label"></label>
                <select id="eventId" asp-for="WorkstationEventFilter.EventId" class="form-control" asp-items="ViewBag.Events">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.SeverityId" class="control-label"></label>
                <select id="severityId" asp-for="WorkstationEventFilter.SeverityId" class="form-control" asp-items="ViewBag.Severity">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.Note" class="control-label"></label>
                <input id="note" asp-for="WorkstationEventFilter.Note" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.WorkstationId" class="control-label"></label>
                <select id="workstationId" asp-for="WorkstationEventFilter.WorkstationId" class="form-control" asp-items="ViewBag.Workstations">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.UserSession" class="control-label"></label>
                <input id="userSession" asp-for="WorkstationEventFilter.UserSession" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.DeviceId" class="control-label"></label>
                <select id="deviceId" asp-for="WorkstationEventFilter.DeviceId" class="form-control" asp-items="ViewBag.Devices">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.CompanyId" class="control-label"></label>
                <select id="companyId" onchange="GetDepartment(this.value)" asp-for="WorkstationEventFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="WorkstationEventFilter.DepartmentId" class="form-control" title="first choose a company" disabled>
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.EmployeeId" class="control-label"></label>
                <select id="employeeId" onchange="GetDeviceAccounts(this.value)" asp-for="WorkstationEventFilter.EmployeeId" class="form-control" asp-items="ViewBag.Employees">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.DeviceAccountId" class="control-label"></label>
                <select id="deviceAccountId" asp-for="WorkstationEventFilter.DeviceAccountId" class="form-control" title="select employee first" disabled>
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.DeviceAccountTypeId" class="control-label"></label>
                <select id="deviceAccountTypeId" asp-for="WorkstationEventFilter.DeviceAccountTypeId" class="form-control" asp-items="ViewBag.DeviceAccountTypes">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationEventFilter.Records" class="control-label"></label>
                <select id="records" asp-for="WorkstationEventFilter.Records" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option selected value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="3000">3000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div>
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    <partial name="_WorkstationEventsTable" />
</div>

@section Scripts{
    <script src="~/js/dt-init-workstation-events.js"></script>
    <script>
        // Initialize DateTimePicker
        $('#startDate').datepicker({
            timepicker: true,
            startDate: GetTime('min'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#endDate').datepicker().data('datepicker').update('minDate', d);
            }
        });
        $('#endDate').datepicker({
            timepicker: true,
            startDate: GetTime('max'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#startDate').datepicker().data('datepicker').update('maxDate', d);
            }
        });
        function GetTime(value) {
            var time = new Date();
            if (value == 'min') {
                time.setHours(0);
                time.setMinutes(0);
                time.setSeconds(0);
                time.setMilliseconds(000);
            }
            else {
                time.setHours(23);
                time.setMinutes(59);
                time.setSeconds(59);
                time.setMilliseconds(999);
            }
            return time;
        }
        function ShowStartDate() {
            $('#startDate').datepicker().data('datepicker').show();
        }
        function ShowEndDate() {
            $('#endDate').datepicker().data('datepicker').show();
        }

        // Filter
        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $.ajax({
                method: "POST",
                url: "/Audit/WorkstationEvents?handler=FilterWorkstationEvents",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        //Clear filter
        $(document).on('click', '#clearFilter', function () {
            $('#startDate').datepicker().data('datepicker').clear();
            $('#endDate').datepicker().data('datepicker').clear();
            $('#eventId').val("");
            $('#severityId').val("");
            $('#note').val("");
            $('#workstationId').val("");
            $('#userSession').val("");
            $('#deviceId').val("");
            $('#employeeId').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
            $('#deviceAccountId').val("");
            $('#deviceAccountTypeId').val("");
            $('#records').val("500");
        });

        // Dropdown Department
        function GetDepartment(id) {
            $.getJSON('/Audit/WorkstationEvents?handler=JsonDepartment', { id: id },
                function (data) {
                    var dep = "<option selected=''></option>";
                    $(data).each(function () {
                        dep = dep + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#departmentId");
                    subList.empty();
                    subList.append(dep);
                    subList.removeAttr("disabled");
                    subList.removeAttr("title");
                });
        }

        // Dropdown Device Accounts
        function GetDeviceAccounts(id) {
            $.getJSON('/Audit/WorkstationEvents?handler=JsonDeviceAccounts', { id: id },
                function (data) {
                    var dep = "<option selected=''></option>";
                    $(data).each(function () {
                        if (this.id === 'active') {
                            dep = dep + '<optgroup label="' + this.name + '">';
                        }
                        else if (this.id === 'deleted') {
                            dep = dep + '</optgroup>';
                            dep = dep + '<optgroup label="' + this.name + '">';
                        }
                        else {
                            dep = dep + '<option value="' + this.id + '">' + this.name + '</option>';
                        }
                    });
                    dep = dep + '</optgroup>';
                    var subList = $("#deviceAccountId");
                    subList.empty();
                    subList.append(dep);
                    subList.removeAttr("disabled");
                    subList.removeAttr("title");
                });
        }

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Audit</li>');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Events</li>');
        });
    </script>
}