@page
@model HES.Web.Pages.Audit.WorkstationSummaries.IndexModel
@{
    ViewData["Title"] = "Workstation Summaries";
    ViewData["ActivePage"] = MenuNavPages.Audit;
    ViewData["AuditPage"] = AuditNavPages.WorkstationSummaries;
}

<ul class="custom-horizontal-pills nav nav-pills mb-3 nav-fill flex-column flex-md-row" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active summary-tabs" id="by-days-and-employees" data-toggle="pill" href="#" role="tab" aria-selected="true">By days and employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link summary-tabs" id="by-employees" data-toggle="pill" href="#" role="tab" aria-selected="false">By employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link summary-tabs" id="by-departments" data-toggle="pill" href="#" role="tab" aria-selected="false">By departments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link summary-tabs" id="by-workstations" data-toggle="pill" href="#" role="tab" aria-selected="false">By workstations</a>
    </li>
</ul>

<div id="filter-collapse" class="filter-card collapse pb-1">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="SummaryFilter.StartDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="startDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="SummaryFilter.StartDate" aria-describedby="startDateAppend" />
                    <div class="input-group-append" onclick="ShowStartDate()">
                        <span class="input-group-text custom-group" id="startDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="SummaryFilter.EndDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="endDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="SummaryFilter.EndDate" aria-describedby="endDateAppend" />
                    <div class="input-group-append" onclick="ShowEndDate()">
                        <span class="input-group-text custom-group" id="endDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group employee-col">
                <label asp-for="SummaryFilter.EmployeeId" class="control-label"></label>
                <select id="employeeId" asp-for="SummaryFilter.EmployeeId" class="form-control" asp-items="ViewBag.Employees">
                    <option selected></option>
                    <option value="N/A">N/A</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="SummaryFilter.CompanyId" class="control-label"></label>
                <select id="companyId" asp-for="SummaryFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                    <option value="N/A">N/A</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group department-col">
                <label asp-for="SummaryFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="SummaryFilter.DepartmentId" class="form-control" asp-items="ViewBag.Departments">
                    <option selected></option>
                    <option value="N/A">N/A</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="SummaryFilter.Records" class="control-label"></label>
                <select id="records" asp-for="SummaryFilter.Records" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option selected value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="3000">3000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div>
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" data-action="by-days-and-employees" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    <partial name="_ByDaysAndEmployees" />
</div>

@section Scripts{
    <script>
        // Initialize DateTimePicker
        $('#startDate').datepicker({
            timepicker: true,
            startDate: GetTime('min'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#endDate').datepicker().data('datepicker').update('minDate', d);
            }
        });
        $('#endDate').datepicker({
            timepicker: true,
            startDate: GetTime('max'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#startDate').datepicker().data('datepicker').update('maxDate', d);
            }
        });
        function GetTime(value) {
            var time = new Date();
            if (value == 'min') {
                time.setHours(0);
                time.setMinutes(0);
                time.setSeconds(0);
                time.setMilliseconds(000);
            }
            else {
                time.setHours(23);
                time.setMinutes(59);
                time.setSeconds(59);
                time.setMilliseconds(999);
            }
            return time;
        }
        function ShowStartDate() {
            $('#startDate').datepicker().data('datepicker').show();
        }
        function ShowEndDate() {
            $('#endDate').datepicker().data('datepicker').show();
        };

        // Init DataTables
        var table_name = '#sessionsSummary';
        $(table_name).DataTable({
            responsive: true,
        });
        var dataTable = $(table_name).dataTable();
        // Search box
        $('#searchbox').keyup(function () {
            dataTable.fnFilter(this.value);
        });
        $('.dataTables_filter').addClass('d-none');
        // Length
        $('#entries_place').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
        $('.dataTables_length').addClass('d-none');
        // Info
        $('#showing_place').html($('.dataTables_info'));
        // Paginate
        $('#pagination_place').html($('.dataTables_paginate'));

        // Filter
        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            var action = $('#filterBtn').data("action");
            switch (action) {
                case 'by-days-and-employees':
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByDaysAndEmployees';
                    break;
                case 'by-employees':
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByEmployees';
                    break;
                case 'by-departments':
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByDepartments';
                    break;
                case 'by-workstations':
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByWorkstations';
                    break;
            }
            $.ajax({
                method: "POST",
                url: url,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        // Clear filter
        $(document).on('click', '#clearFilter', function () {
            $('#startDate').datepicker().data('datepicker').clear();
            $('#endDate').datepicker().data('datepicker').clear();
            $('#employeeId').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
            $('#records').val("500");
        });

        // Tabs click
        $(document).on('click', '.summary-tabs', function () {
            var tab = $(this);
            var id = tab.attr('id');
            switch (id) {
                case 'by-days-and-employees':
                    $('#filterBtn').data("action", "by-days-and-employees");
                    $('.employee-col').removeClass('d-none');
                    $('.department-col').removeClass('d-none');
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByDaysAndEmployees';
                    break;
                case 'by-employees':
                    $('#filterBtn').data("action", "by-employees");
                    $('.employee-col').addClass('d-none');
                    $('.department-col').removeClass('d-none');
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByEmployees';
                    break;
                case 'by-departments':
                    $('#filterBtn').data("action", "by-departments");
                    $('.employee-col').addClass('d-none');
                    $('.department-col').addClass('d-none');
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByDepartments';
                    break;
                case 'by-workstations':
                    $('#filterBtn').data("action", "by-workstations");
                    $('.employee-col').removeClass('d-none');
                    $('.department-col').removeClass('d-none');
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByWorkstations';
                    break;
            }
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $.ajax({
                method: "POST",
                url: url,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Audit</li>');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Summaries</li>');
        });
    </script>
}