<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HES</title>

    <!-- Bootstrap CSS -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Users/Index">
                    <svg width="133" height="24" viewBox="0 0 133 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M120.49 0.742267C122.37 1.5835 124.622 2.54845 126.355 3.81031C128.087 5.07216 129.794 7.00206 131.279 8.58557C131.007 10.7381 130.76 13.1629 130.091 15.1918C129.423 17.2206 128.235 19.299 127.171 21.2041C125.092 21.5753 122.642 22.0701 120.514 22.0701C118.361 22.0701 115.986 21.6 113.882 21.2041C112.892 19.4227 111.605 17.2701 110.937 15.2165C110.269 13.1876 109.997 10.7381 109.749 8.56083C111.036 7.10103 112.744 5.09691 114.451 3.83505C116.159 2.59794 118.534 1.60825 120.49 0.742267ZM120.49 9.27835C118.98 9.27835 117.767 10.4907 117.767 12C117.767 13.5093 118.98 14.7216 120.49 14.7216C121.999 14.7216 123.212 13.5093 123.212 12C123.212 10.4907 121.974 9.27835 120.49 9.27835ZM120.49 -1.00955e-06C113.857 -1.00955e-06 108.487 5.36907 108.487 12C108.487 18.6309 113.857 24 120.49 24C127.122 24 132.492 18.6309 132.492 12C132.467 5.36907 127.097 -1.00955e-06 120.49 -1.00955e-06Z" fill="black" />
                        <path d="M21.1835 19.612C20.7628 19.612 20.4411 19.2903 20.4411 18.8697V5.06352C20.4411 4.66765 20.7628 4.346 21.1587 4.346C21.5547 4.346 21.8764 4.6429 21.8764 5.03878V18.8945C21.8764 19.3398 21.5794 19.612 21.1835 19.612ZM14.6503 19.612C14.2543 19.612 13.9078 19.2903 13.9078 18.8945V12.7336H1.43533V18.8945C1.43533 19.2903 1.11362 19.612 0.717665 19.612C0.321712 19.612 0 19.2903 0 18.8945V5.06352C0 4.66765 0.321712 4.346 0.717665 4.346C1.11362 4.346 1.43533 4.66765 1.43533 5.06352V11.2986H13.9078V5.06352C13.9078 4.66765 14.2296 4.346 14.6503 4.346C15.071 4.346 15.3927 4.66765 15.3927 5.06352V18.8945C15.3927 19.3151 15.071 19.612 14.6503 19.612ZM28.1869 5.83054V18.1769C29.8697 18.1769 31.503 18.1769 33.1611 18.1769C34.9676 18.1522 36.7494 18.1522 38.6054 18.1522C39.5953 18.1522 40.5109 17.2367 40.5109 16.2718V7.76043C40.5109 6.77074 39.5458 5.80579 38.5807 5.80579H28.1869V5.83054ZM38.6054 19.612H27.7414C27.1723 19.612 26.7516 19.1666 26.7516 18.5975V5.38518C26.7516 4.81611 27.197 4.37074 27.7414 4.37074H38.5807C40.3129 4.37074 41.971 6.00373 41.971 7.73569V16.2718C41.971 18.0285 40.3624 19.612 38.6054 19.612ZM101.809 19.612H89.0399C88.0748 19.612 87.2581 19.0182 86.9859 18.078C86.7137 17.1625 87.0106 16.2223 87.7778 15.7027C89.8071 14.3419 91.8611 12.9811 93.8903 11.645C96.1918 10.1357 98.4685 8.62641 100.745 7.09239C101.067 6.89445 101.092 6.54806 101.017 6.32538C100.968 6.20167 100.819 5.83054 100.325 5.83054H87.8768C87.4808 5.83054 87.1591 5.50889 87.1591 5.11301C87.1591 4.71714 87.4808 4.39549 87.8768 4.39549H100.325C101.314 4.39549 102.106 4.9893 102.403 5.90476C102.676 6.82022 102.354 7.78517 101.611 8.30476C99.6564 9.59136 97.7509 10.878 95.7958 12.1646C93.3954 13.7481 91.0197 15.3316 88.6439 16.9151C88.3222 17.1377 88.2975 17.4594 88.3717 17.7068C88.3965 17.8305 88.5697 18.2017 89.0646 18.2017H101.834C102.23 18.2017 102.552 18.5233 102.552 18.9192C102.527 19.2903 102.205 19.612 101.809 19.612ZM48.3805 11.2986H58.8485C60.2343 11.2986 60.8283 9.93776 60.8283 8.60167C60.8283 7.21611 60.1601 5.80579 58.8485 5.80579H50.6572C49.3951 5.80579 48.4052 6.9192 48.4052 8.32951L48.3805 11.2986ZM61.0757 19.6367H50.385C47.9845 19.6367 46.9204 17.7316 46.9204 15.8512V8.32951C46.9204 6.39961 48.3063 4.37074 50.6572 4.37074H58.8485C61.1252 4.37074 62.3131 6.49858 62.3131 8.60167C62.3131 10.6305 61.2242 12.7584 58.8485 12.7584H48.3805L48.4052 15.8264C48.4052 16.9398 48.9249 18.2017 50.4098 18.2017H61.1005C61.4964 18.2017 61.8181 18.5233 61.8181 18.9192C61.7934 19.3151 61.4717 19.6367 61.0757 19.6367ZM68.5246 11.2986H78.9926C80.3784 11.2986 80.9971 9.93776 80.9971 8.60167C80.9971 7.21611 80.3042 5.80579 78.9926 5.80579H70.8013C69.5392 5.80579 68.5493 6.9192 68.5493 8.32951L68.5246 11.2986ZM81.2198 19.6367H70.5291C68.1286 19.6367 67.0645 17.7316 67.0645 15.8512V8.32951C67.0645 6.39961 68.4503 4.37074 70.7766 4.37074H78.9678C81.2446 4.37074 82.4324 6.49858 82.4324 8.60167C82.4324 10.6305 81.3436 12.7584 78.9678 12.7584H68.5246L68.5493 15.8264C68.5493 16.9398 69.069 18.2017 70.5538 18.2017H81.2446C81.6405 18.2017 81.9622 18.5233 81.9622 18.9192C81.9622 19.3151 81.6405 19.6367 81.2198 19.6367Z" fill="black" />
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @*
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    *@
                </div>
            </div>
        </nav>
    </header>
    @*<div class="container-fluid main-container">
            <partial name="_CookieConsentPartial" />
            <main role="main">
                <div class="d-flex flex-nowrap">
                    <div class="custom-nav border-right">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="flex-fill p-2">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>*@

    <div class="d-flex custom-main">
        <partial name="_CookieConsentPartial" />
        @* Sidebar *@
        <div class="custom-sidebar border-right">
            <partial name="_ManageNav" />
        </div>
        @* Content *@
        <div class="flex-fill custom-content ">
            @RenderBody()
        </div>
    </div>

    @*
            <footer class="border-top footer text-muted">
            <div class="container">
                <div class="row justify-content-center">
                    &copy; 2019 - HES
                </div>
            </div>
        </footer>
    *@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <!-- DataTebles JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <!-- Main JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Fontawesome-->
    <script src="~/font/fontawesome.min.js"></script>
    <script src="~/font/solid.min.js"></script>
    <!-- bs-custom-file-input JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
