<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="profile" asp-page="/Users/Index">Users</a></li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.DevicesNavClass(ViewContext)" id="change-password" asp-page="/Devices/Index">
            @*<svg class="mr-1" height="18" viewBox="0 0 20 21" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.87912 0.879632C9.05069 -0.291908 10.9501 -0.291909 12.1217 0.879631L19.1221 7.87988C20.2937 9.05146 20.2937 10.951 19.1221 12.1226L12.1217 19.1228C10.9501 20.2944 9.05069 20.2944 7.87912 19.1228L0.878705 12.1226C-0.292901 10.951 -0.292902 9.05146 0.878704 7.87988L7.87912 0.879632ZM11.3636 3.6999C11.3636 4.45268 10.7534 5.06293 10.0007 5.06293C9.24793 5.06293 8.63772 4.45268 8.63772 3.6999C8.63772 2.94712 9.24793 2.33688 10.0007 2.33688C10.7534 2.33688 11.3636 2.94712 11.3636 3.6999ZM10.905 9.48919L11.2808 15.6251C11.326 16.3627 10.74 16.9857 10.001 16.9857C9.26196 16.9857 8.67593 16.3627 8.72111 15.6251L9.09689 9.48919C9.12615 9.01134 9.52222 8.63879 10.001 8.63879C10.4797 8.63879 10.8758 9.01134 10.905 9.48919Z"
                      fill="white" />
            </svg>*@
            Devices
        </a>
    </li>
</ul>
