@model web.HES.Pages.Settings.OrgStructure.IndexModel

<h5 class="text-gray mb-4 ">You want to delete Department: @Model.Department.Name?</h5>

<form method="post" class="text-right">
    <input type="hidden" asp-for="Department.Id" name="id" />
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <input type="submit" value="Delete" class="btn btn-danger" asp-page-handler="DeleteDepartment" />
</form>