@page
@model HES.Web.Pages.Audit.WorkstationsSessions.IndexModel
@{
    ViewData["Title"] = "Sessions";
    ViewData["ActivePage"] = MenuNavPages.Audit;
    ViewData["AuditPage"] = AuditNavPages.WorkstationSessions;
}
<h1>Sessions</h1>

