@page
@model HES.Web.Pages.Audit.WorkstationSessions.IndexModel

@{
    ViewData["Title"] = "Sessions";
    ViewData["ActivePage"] = MenuNavPages.Audit;
    ViewData["AuditPage"] = AuditNavPages.WorkstationSessions;
}

<div id="filter-collapse" class="filter-card collapse pb-1">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.StartDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="startDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="WorkstationSessionFilter.StartDate" aria-describedby="startDateAppend" />
                    <div class="input-group-append" onclick="ShowStartDate()">
                        <span class="input-group-text custom-group" id="startDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.EndDate" class="control-label"></label>
                <div class="input-group">
                    <input readonly id="endDate" class="datepicker-here form-control readonly-white" data-timepicker="true" type="text" asp-for="WorkstationSessionFilter.EndDate" aria-describedby="endDateAppend" />
                    <div class="input-group-append" onclick="ShowEndDate()">
                        <span class="input-group-text custom-group" id="endDateAppend">
                            <img src="~/svg/action/event.svg" style="width:21px;" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.UnlockId" class="control-label"></label>
                <select id="unlockId" asp-for="WorkstationSessionFilter.UnlockId" class="form-control" asp-items="ViewBag.UnlockId">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.WorkstationId" class="control-label"></label>
                <select id="workstationId" asp-for="WorkstationSessionFilter.WorkstationId" class="form-control" asp-items="ViewBag.Workstations">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.UserSession" class="control-label"></label>
                <input id="userSession" asp-for="WorkstationSessionFilter.UserSession" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.DeviceId" class="control-label"></label>
                <select id="deviceId" asp-for="WorkstationSessionFilter.DeviceId" class="form-control" asp-items="ViewBag.Devices">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.EmployeeId" class="control-label"></label>
                <select id="employeeId" asp-for="WorkstationSessionFilter.EmployeeId" class="form-control" asp-items="ViewBag.Employees">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.CompanyId" class="control-label"></label>
                <select id="companyId" asp-for="WorkstationSessionFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="WorkstationSessionFilter.DepartmentId" class="form-control" asp-items="ViewBag.Departments">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.DeviceAccountId" class="control-label"></label>
                <select id="deviceAccountId" asp-for="WorkstationSessionFilter.DeviceAccountId" class="form-control" asp-items="ViewBag.DeviceAccounts">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.DeviceAccountTypeId" class="control-label"></label>
                <select id="deviceAccountTypeId" asp-for="WorkstationSessionFilter.DeviceAccountTypeId" class="form-control" asp-items="ViewBag.DeviceAccountTypes">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label asp-for="WorkstationSessionFilter.Records" class="control-label"></label>
                <select id="records" asp-for="WorkstationSessionFilter.Records" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option selected value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="3000">3000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div>
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    <partial name="_WorkstationSessionsTable" />
</div>

@section Scripts{
    <script>
        // Initialize DateTimePicker
        $('#startDate').datepicker({
            timepicker: true,
            startDate: GetTime('min'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#endDate').datepicker().data('datepicker').update('minDate', d);
            }
        });
        $('#endDate').datepicker({
            timepicker: true,
            startDate: GetTime('max'),
            dateFormat: '@ViewBag.DatePattern',
            timeFormat: '@ViewBag.TimePattern',
            onSelect: function (fd, d) {
                $('#startDate').datepicker().data('datepicker').update('maxDate', d);
            }
        });
        function GetTime(value) {
            var time = new Date();
            if (value == 'min') {
                time.setHours(0);
                time.setMinutes(0);
                time.setSeconds(0);
                time.setMilliseconds(000);
            }
            else {
                time.setHours(23);
                time.setMinutes(59);
                time.setSeconds(59);
                time.setMilliseconds(999);
            }
            return time;
        }
        function ShowStartDate() {
            $('#startDate').datepicker().data('datepicker').show();
        }
        function ShowEndDate() {
            $('#endDate').datepicker().data('datepicker').show();
        }

        // Init DataTables
        var table_name = '#workstationSessions';
        $(table_name).DataTable({
            responsive: true,
            "order": [[0, "desc"]]
        });
        var dataTable = $(table_name).dataTable();
        // Search box
        $('#searchbox').keyup(function () {
            dataTable.fnFilter(this.value);
        });
        $('.dataTables_filter').addClass('d-none');
        // Length
        $('#entries_place').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
        $('.dataTables_length').addClass('d-none');
        // Info
        $('#showing_place').html($('.dataTables_info'));
        // Paginate
        $('#pagination_place').html($('.dataTables_paginate'));

        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $.ajax({
                method: "POST",
                url: "/Audit/WorkstationSessions?handler=FilterWorkstationSessions",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        $(document).on('click', '#clearFilter', function () {
            $('#startDate').datepicker().data('datepicker').clear();
            $('#endDate').datepicker().data('datepicker').clear();
            $('#unlockId').val("");
            $('#workstationId').val("");
            $('#userSession').val("");
            $('#deviceId').val("");
            $('#employeeId').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
            $('#deviceAccountId').val("");
            $('#deviceAccountTypeId').val("");
            $('#records').val("500");
        });

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Audit</li>');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Sessions</li>');
        });
    </script>
}
