@page
@model HES.Web.Pages.Employees.test.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DeviceAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeviceAccount.Id" />
            <div class="form-group">
                <label asp-for="DeviceAccount.Name" class="control-label"></label>
                <input asp-for="DeviceAccount.Name" class="form-control" />
                <span asp-validation-for="DeviceAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.Urls" class="control-label"></label>
                <input asp-for="DeviceAccount.Urls" class="form-control" />
                <span asp-validation-for="DeviceAccount.Urls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.Apps" class="control-label"></label>
                <input asp-for="DeviceAccount.Apps" class="form-control" />
                <span asp-validation-for="DeviceAccount.Apps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.Login" class="control-label"></label>
                <input asp-for="DeviceAccount.Login" class="form-control" />
                <span asp-validation-for="DeviceAccount.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.Type" class="control-label"></label>
                <select asp-for="DeviceAccount.Type" class="form-control"></select>
                <span asp-validation-for="DeviceAccount.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.Status" class="control-label"></label>
                <select asp-for="DeviceAccount.Status" class="form-control"></select>
                <span asp-validation-for="DeviceAccount.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.LastSyncedAt" class="control-label"></label>
                <input asp-for="DeviceAccount.LastSyncedAt" class="form-control" />
                <span asp-validation-for="DeviceAccount.LastSyncedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.CreatedAt" class="control-label"></label>
                <input asp-for="DeviceAccount.CreatedAt" class="form-control" />
                <span asp-validation-for="DeviceAccount.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.PasswordUpdatedAt" class="control-label"></label>
                <input asp-for="DeviceAccount.PasswordUpdatedAt" class="form-control" />
                <span asp-validation-for="DeviceAccount.PasswordUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.OtpUpdatedAt" class="control-label"></label>
                <input asp-for="DeviceAccount.OtpUpdatedAt" class="form-control" />
                <span asp-validation-for="DeviceAccount.OtpUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccount.Deleted" /> @Html.DisplayNameFor(model => model.DeviceAccount.Deleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.EmployeeId" class="control-label"></label>
                <select asp-for="DeviceAccount.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="DeviceAccount.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.DeviceId" class="control-label"></label>
                <select asp-for="DeviceAccount.DeviceId" class="form-control" asp-items="ViewBag.DeviceId"></select>
                <span asp-validation-for="DeviceAccount.DeviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccount.SharedAccountId" class="control-label"></label>
                <select asp-for="DeviceAccount.SharedAccountId" class="form-control" asp-items="ViewBag.SharedAccountId"></select>
                <span asp-validation-for="DeviceAccount.SharedAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
