@page
@model web.HES.Pages.Settings.Positions.DeleteModel

@{
    ViewData["Title"] = "Delete";
    ViewData["ActivePage"] = ManageNavPages.Settings;
    ViewData["SettingsPage"] = SettingsNavPages.Positions;
}

<h1 class="text-navyblue">Delete position</h1>
<h3 class="text-gray">Are you sure you want to delete this?</h3>
<div class="custom-wide-card">

    <div class="form-group">
        <label asp-for="Position.Name" class="control-label text-gray"></label>
        <input asp-for="Position.Name" class="form-control text-navyblue" disabled />
    </div>

    <form method="post">
        <input type="hidden" asp-for="Position.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-outline-secondary" asp-page="./Index">Back</a>
    </form>
</div>