@model HES.Web.Pages.Dashboard.IndexModel
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="dashboard-card">
            <div class="dashboard-card-title">
                Hideez Enterprise Server
            </div>
            <div class="dashboard-card-body">
                <div class="dashboard-card__logo">
                    <img src="~/svg/dashboard/dashboard_hes.svg" />
                </div>
                <div class="dashboard-card__info-wrapper">
                    <div class="dashboard-card__info-block">
                        <div class="dashboard-card__info-body">2.1.1</div>
                        <div class="dashboard-card__info-title">HES version</div>
                    </div>
                    <div class="dashboard-card__vline"></div>
                    <div class="dashboard-card__info-block">
                        <div class="dashboard-card__info-body">5</div>
                        <div class="dashboard-card__info-title">Remote Tasks</div>
                    </div>
                </div>
                <div class="dashboard-card__notify">

                </div>
            </div>
            @*<div>
                        Device Tasks <a class="btn-link" asp-page="DeviceTasks"> <span class="badge badge-primary">@Model.DeviceTaskCount</span></a>
                </div>
            *@

        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="dashboard-card">
            <h4>Workstations - 90</h4>
            <hr />

            @*<div>
                    Total count <span class="badge badge-success">70</span>
                </div>*@
            <div>
                Online <span class="badge badge-primary">45</span>
            </div>
            <div>
                Need appruve <span class="badge badge-danger">4</span>
            </div>
            _____
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="dashboard-card">
            <h4>Devices - 36</h4>
            <hr />
            <div>
                Total count <span class="badge badge-primary">36</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="dashboard-card">
            <h4>Devices - 36</h4>
            <hr />
            <div>
                Total count <span class="badge badge-primary">36</span>
            </div>
        </div>
    </div>
</div>