@model HES.Web.Pages.Dashboard.IndexModel

<div class="col-12 col-md-6 col-xl-4">
    <div class="dashboard-card">
        <div class="dashboard-card-title">
            Employees
        </div>
        <div class="dashboard-card-body">
            <div class="dashboard-card-body__logo">
                <img src="~/svg/dashboard/employees.svg" />
            </div>
            <div class="dashboard-card-body__wrapper">
                <div class="dashboard-card__info">
                    <div class="dashboard-card__info-body font-weight-bold">@Model.RegisteredEmployeesCount</div>
                    <div class="dashboard-card__info-title"><a class="dashboard-link" asp-page="/Employees/Index">Registered</a></div>
                </div>
                <div class="dashboard-card__vertical-line"></div>
                <div class="dashboard-card__info">
                    <div class="dashboard-card__info-body">@Model.EmployeesSessionsCount</div>
                    <div class="dashboard-card__info-title"><a class="dashboard-link" asp-page="./OpenedSessions">Opened sessions</a></div>
                </div>
            </div>
        </div>
    </div>
</div>