@model HES.Web.Pages.Dashboard.IndexModel

<div class="col-12 col-md-6 col-xl-4">
    <div class="dashboard-card">
        <div class="dashboard-card-title">
            Hideez Enterprise Server
        </div>
        <div class="dashboard-card-body">
            <div class="dashboard-card-body__logo">
                <img src="~/svg/dashboard/server.svg" />
            </div>
            <div class="dashboard-card-body__wrapper">
                <div class="dashboard-card__info">
                    <div class="dashboard-card__info-body">@Model.ServerVersion</div>
                    <div class="dashboard-card__info-title">HES version</div>
                </div>
                <div class="dashboard-card__vertical-line"></div>
                <div class="dashboard-card__info">
                    <div class="dashboard-card__info-body">@Model.ServerRemoteTasksCount</div>
                    <div class="dashboard-card__info-title">Remote Tasks</div>
                </div>
            </div>
        </div>
    </div>
</div>