@model HES.Web.Pages.Settings.Positions.IndexModel

@if (Model.Bind)
{
    <h5 class="text-gray mb-4 ">The position @Model.Position.Name contains employees, remove employees to remove position.</h5>
    <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
}
else
{
    <h5 class="text-gray mb-4 ">You want to delete position @Model.Position.Name?</h5>

    <form method="post" class="text-right">
        <input type="hidden" asp-for="Position.Id" name="id" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Delete" class="btn btn-danger" asp-page-handler="DeletePosition" />
    </form>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}